body {
    background: black;
    margin: 0;
    padding: 0;
}
.banner {
    width: 100%;
    
}

h1, h2 {
    color: lightslategrey;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    font-style: italic;
}

p {
    color: lightskyblue;
    font-family: 'Mohave' , sans-serif;
    line-height: 200%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    width: 500px;
}

a {
    text-align: center;
    color: gold;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}
section .text
{
    position: relative;
    font-size: 3em;
    color: #fff;
    letter-spacing: 2px;
} */