body {
    background: black;
    margin: 0;
    padding: 0;
}
.banner {
    width: 100%;
    
}

h1, h2 {
    color: lightslategrey;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    font-style: italic;
}

p {
    color: lightskyblue;
    font-family: 'Mohave' , sans-serif;
    line-height: 200%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    width: 500px;
}

a {
    text-align: center;
    color: gold;
}